<ion-header>
  <ion-toolbar>
    <ion-title> Página de Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let clase of clasesHoy" (click)="verDetalleClase(clase)">
      <ion-label>
        <h2>{{ clase.asignatura }}</h2>
        <p>Horario: {{ clase.horaInicio }} - {{ clase.horaFin }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button [expand]="'block'" [color]="'danger'" (click)="logout()">
    logout
  </ion-button>
</ion-content>
